<header class="w-full fixed">
    <div class="w-full text-center text-TapCard-lightGray uppercase font-semibold font-jost pt-8 pb-3 pr-3  bg-TapCard-charcoal">
      <h1>My qr code</h1>
    </div>
</header>