<div class="w-full fixed">
    <div class="flex w-full justify-between items-center pt-8 pb-3 pr-3  bg-TapCard-charcoal">
    <div class="w-5"></div>
    <div class="flex-1 text-center ml-3">
        <h2 class="mx-auto text-TapCard-lightGray uppercase font-bold font-jost">My Events</h2>
    </div>
    <%# Link à changer quand la chatroom sera mis en place %>
    <%= link_to user_path(current_user) do %>
        <%= image_tag "envelope-regular.svg", alt: "envelope", class: "w-5" %>
    <% end %>
    </div>
    <div class="flex justify-between bg-TapCard-lightGray border-b border-TapCard-blue px-4 py-3">
        <%= link_to events_path do %>
            <h6 class="text-xs font-semibold font-jost">All Upcoming Events</h6>
        <% end %>
        <%= link_to my_events_user_path(current_user) do %>
            <h6 class="text-xs font-semibold font-jost relative after:block after:h-0.5 after:w-1/2 after:absolute after:-bottom-1 after:left-1/4 after:origin-bottom-left after:transform after:ease-in-out after:duration-200 after:bg-TapCard-yellow">My Events</h6>
        <% end %>
    </div>

</div>