<% if notice %>
  <div data-controller="flash" data-flash-target="alert" class="flex items-center justify-between fixed bottom-0 right-0 mx-4 mb-14 p-2 rounded-full bg-green-100 border-l-4 border-green-500 text-green-700 z-50 text-xs" role="alert">
    <%= notice %>
    <button type="button" data-action="click->flash#closeAlert" aria-label="Close">
      <i class="fa-solid fa-xmark  w-10"></i>
    </button>
  </div>
<% end %>
<% if alert %>
  <div data-controller="flash" data-flash-target="alert" class="flex items-center justify-between fixed bottom-0 right-0 mx-4 mb-14 p-2 rounded-full bg-red-100 border-l-4 border-red-500 text-red-700 z-50 text-xs" role="alert">
    <%= alert %>
    <button type="button" data-action="click->flash#closeAlert" aria-label="Close">
      <i class="fa-solid fa-xmark  w-10"></i>
    </button>
  </div>
<% end %>

