<div class="bg-banner-home bg-center bg-cover h-[80vh] md:h-[100vh] md:w-1/2 lg:w-2/3">
    <h1 class="flex items-center justify-center text-TapCard-charcoal text-3xl h-[80vh] uppercase md:hidden">Digicard</h1>
</div>